body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#dark {
    background-color: #202020;
    color: white;
    transition: background-color .6s linear;
}

#light {
    background-color: white;
    color: black;
    transition: background-color .6s linear;
}

p {
    text-indent: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    animation: .4s ease-in appear;
}

.navbar {
    padding: 1em;
    border: 1px solid red;
    height: 30px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #202020;
    opacity: .92;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    opacity: .80;
}

#nav-name {
    font-size: 1.6rem;
}

#socials {
    display: flex;
    justify-content: right;
    padding-top: 1em;
    margin: 0 0 1em 0;
}

#socials a {
    text-decoration: none;
    color: white;
    font-size: 2.25em;
    padding: .5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0em .5em 0em .5em;
}

.dark-mode {
    width: 30px;
    height: 30px;
    margin-left: 1em;
    margin-right: 1em;
}

article {
    border: 1px solid red;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    animation: .4s ease-in appear;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#photo-container {
    background-color: black;
    background-image: url('../images/selfie.jpg');
    background-size: cover;
    background-position: center center;
    width: 325px;
    height: 325px;
    margin: 1em;
    border-radius: 10em;
}

#description {
    border: .1px solid red;
    width: 325px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.works {
    display: flex;
    flex-direction: column;
}

.pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: .4s ease-in slideUp;
}

@keyframes slideUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pair-item {
    margin: 0 1em 0 1em;
    padding: 1em;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-imgs {
    border-radius: 10px;
    width: 300px;
    height: 175px;
    background-color: white;
}

.projects-imgs:hover {
    width: 343px;
    height: 200px;
    transition: all .15s linear;
}